<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('soggyroll_favicon.jpg')%>
    <title>Soggyroll</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <meta property="og:title" content="Soggyroll"/>
  <meta property="og:image" content="homePageImg.png" />
  <meta propery="og:description" content="An anime streaming service where you can watch all your favorite anime!"/>
  <meta property="og:url" content="https://soggyroll.herokuapp.com/#/"/>



  <body>
    <%= yield %>
  </body>
</html>
